@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html{
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/*Grid*/
.block{
  width:  1180px;
  height: auto;
}
[class="block-*"]{
  float:left;
  min-height:1px;
}
.block-12{
  width: 1180px;
}
.block-11{
  width: 1080px;
}
.block-10{
  width: 980px;
}
.block-9{
  width: 880px;
}
.block-8{
  width: 780px;
}
.block-7{
  width: 680px;
}
.block-6{
  width: 580px;
}
.block-5{
  width: 480px;
}
.block-4{
  width: 380px;
}
.block-3{
  width: 280px;
}
.block-2{
  width: 180px;
}
.block-1{
  width: 80px;
}
/*Globals*/
.wrapper{
  margin: 0 auto;
}
.clearfix{
  overflow: auto;
  zoom: 1;
}
.to-left{
  float: left;
}
.to-right{
  float:right;
}
/*Tags*/
/*Text-Tags*/
h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
}
h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
}
h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18.5px;
}
h4{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
}
h5{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 13.5px;
}
h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 11px;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-left: 10px;
}
/*Block Elements Tags*/
article{
  display:block;
}
