/*!
 * Zen Framework | v1.0.0 - http://igorfelipee.github.io/zen-framework/
 */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
.row:before, .container:before, .clearfix:before, .row:after, .container:after, .clearfix:after {
  content: "";
  display: table;
}
.row:after, .container:after, .clearfix:after {
  clear: both;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}

.column,
[class*="col-"] {
  float: left;
  position: relative;
  width: 100%;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}

.row {
  margin-left: -0.9375em;
  margin-right: -0.9375em;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*======================================
=            Globals Styles            =
======================================*/
*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

/*===================================
=            Grid system            =
===================================*/
@media screen and (min-width: 43.5em) {
  .container {
    width: 41.625em;
  }
}
@media screen and (min-width: 60em) {
  .container {
    width: 58.125em;
  }
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.col-pull-1 {
  right: -8.33333%;
}

.col-pull-2 {
  right: -16.66667%;
}

.col-pull-3 {
  right: -25%;
}

.col-pull-4 {
  right: -33.33333%;
}

.col-pull-5 {
  right: -41.66667%;
}

.col-pull-6 {
  right: -50%;
}

.col-pull-7 {
  right: -58.33333%;
}

.col-pull-8 {
  right: -66.66667%;
}

.col-pull-9 {
  right: -75%;
}

.col-pull-10 {
  right: -83.33333%;
}

.col-pull-11 {
  right: -91.66667%;
}

.col-pull-12 {
  right: -100%;
}

.col-push-1 {
  left: 8.33333%;
}

.col-push-2 {
  left: 16.66667%;
}

.col-push-3 {
  left: 25%;
}

.col-push-4 {
  left: 33.33333%;
}

.col-push-5 {
  left: 41.66667%;
}

.col-push-6 {
  left: 50%;
}

.col-push-7 {
  left: 58.33333%;
}

.col-push-8 {
  left: 66.66667%;
}

.col-push-9 {
  left: 75%;
}

.col-push-10 {
  left: 83.33333%;
}

.col-push-11 {
  left: 91.66667%;
}

.col-push-12 {
  left: 100%;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-offset-12 {
  margin-left: 100%;
}

@media screen and (min-width: 43.5em) {
  .col-tablet-1 {
    width: 8.33333%;
  }

  .col-tablet-2 {
    width: 16.66667%;
  }

  .col-tablet-3 {
    width: 25%;
  }

  .col-tablet-4 {
    width: 33.33333%;
  }

  .col-tablet-5 {
    width: 41.66667%;
  }

  .col-tablet-6 {
    width: 50%;
  }

  .col-tablet-7 {
    width: 58.33333%;
  }

  .col-tablet-8 {
    width: 66.66667%;
  }

  .col-tablet-9 {
    width: 75%;
  }

  .col-tablet-10 {
    width: 83.33333%;
  }

  .col-tablet-11 {
    width: 91.66667%;
  }

  .col-tablet-12 {
    width: 100%;
  }

  .col-tablet-pull-1 {
    right: -8.33333%;
  }

  .col-tablet-pull-2 {
    right: -16.66667%;
  }

  .col-tablet-pull-3 {
    right: -25%;
  }

  .col-tablet-pull-4 {
    right: -33.33333%;
  }

  .col-tablet-pull-5 {
    right: -41.66667%;
  }

  .col-tablet-pull-6 {
    right: -50%;
  }

  .col-tablet-pull-7 {
    right: -58.33333%;
  }

  .col-tablet-pull-8 {
    right: -66.66667%;
  }

  .col-tablet-pull-9 {
    right: -75%;
  }

  .col-tablet-pull-10 {
    right: -83.33333%;
  }

  .col-tablet-pull-11 {
    right: -91.66667%;
  }

  .col-tablet-pull-12 {
    right: -100%;
  }

  .col-tablet-push-1 {
    left: 8.33333%;
  }

  .col-tablet-push-2 {
    left: 16.66667%;
  }

  .col-tablet-push-3 {
    left: 25%;
  }

  .col-tablet-push-4 {
    left: 33.33333%;
  }

  .col-tablet-push-5 {
    left: 41.66667%;
  }

  .col-tablet-push-6 {
    left: 50%;
  }

  .col-tablet-push-7 {
    left: 58.33333%;
  }

  .col-tablet-push-8 {
    left: 66.66667%;
  }

  .col-tablet-push-9 {
    left: 75%;
  }

  .col-tablet-push-10 {
    left: 83.33333%;
  }

  .col-tablet-push-11 {
    left: 91.66667%;
  }

  .col-tablet-push-12 {
    left: 100%;
  }

  .col-tablet-offset-1 {
    margin-left: 8.33333%;
  }

  .col-tablet-offset-2 {
    margin-left: 16.66667%;
  }

  .col-tablet-offset-3 {
    margin-left: 25%;
  }

  .col-tablet-offset-4 {
    margin-left: 33.33333%;
  }

  .col-tablet-offset-5 {
    margin-left: 41.66667%;
  }

  .col-tablet-offset-6 {
    margin-left: 50%;
  }

  .col-tablet-offset-7 {
    margin-left: 58.33333%;
  }

  .col-tablet-offset-8 {
    margin-left: 66.66667%;
  }

  .col-tablet-offset-9 {
    margin-left: 75%;
  }

  .col-tablet-offset-10 {
    margin-left: 83.33333%;
  }

  .col-tablet-offset-11 {
    margin-left: 91.66667%;
  }

  .col-tablet-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 60em) {
  .col-desktop-1 {
    width: 8.33333%;
  }

  .col-desktop-2 {
    width: 16.66667%;
  }

  .col-desktop-3 {
    width: 25%;
  }

  .col-desktop-4 {
    width: 33.33333%;
  }

  .col-desktop-5 {
    width: 41.66667%;
  }

  .col-desktop-6 {
    width: 50%;
  }

  .col-desktop-7 {
    width: 58.33333%;
  }

  .col-desktop-8 {
    width: 66.66667%;
  }

  .col-desktop-9 {
    width: 75%;
  }

  .col-desktop-10 {
    width: 83.33333%;
  }

  .col-desktop-11 {
    width: 91.66667%;
  }

  .col-desktop-12 {
    width: 100%;
  }

  .col-desktop-pull-1 {
    right: -8.33333%;
  }

  .col-desktop-pull-2 {
    right: -16.66667%;
  }

  .col-desktop-pull-3 {
    right: -25%;
  }

  .col-desktop-pull-4 {
    right: -33.33333%;
  }

  .col-desktop-pull-5 {
    right: -41.66667%;
  }

  .col-desktop-pull-6 {
    right: -50%;
  }

  .col-desktop-pull-7 {
    right: -58.33333%;
  }

  .col-desktop-pull-8 {
    right: -66.66667%;
  }

  .col-desktop-pull-9 {
    right: -75%;
  }

  .col-desktop-pull-10 {
    right: -83.33333%;
  }

  .col-desktop-pull-11 {
    right: -91.66667%;
  }

  .col-desktop-pull-12 {
    right: -100%;
  }

  .col-desktop-push-1 {
    left: 8.33333%;
  }

  .col-desktop-push-2 {
    left: 16.66667%;
  }

  .col-desktop-push-3 {
    left: 25%;
  }

  .col-desktop-push-4 {
    left: 33.33333%;
  }

  .col-desktop-push-5 {
    left: 41.66667%;
  }

  .col-desktop-push-6 {
    left: 50%;
  }

  .col-desktop-push-7 {
    left: 58.33333%;
  }

  .col-desktop-push-8 {
    left: 66.66667%;
  }

  .col-desktop-push-9 {
    left: 75%;
  }

  .col-desktop-push-10 {
    left: 83.33333%;
  }

  .col-desktop-push-11 {
    left: 91.66667%;
  }

  .col-desktop-push-12 {
    left: 100%;
  }

  .col-desktop-offset-1 {
    margin-left: 8.33333%;
  }

  .col-desktop-offset-2 {
    margin-left: 16.66667%;
  }

  .col-desktop-offset-3 {
    margin-left: 25%;
  }

  .col-desktop-offset-4 {
    margin-left: 33.33333%;
  }

  .col-desktop-offset-5 {
    margin-left: 41.66667%;
  }

  .col-desktop-offset-6 {
    margin-left: 50%;
  }

  .col-desktop-offset-7 {
    margin-left: 58.33333%;
  }

  .col-desktop-offset-8 {
    margin-left: 66.66667%;
  }

  .col-desktop-offset-9 {
    margin-left: 75%;
  }

  .col-desktop-offset-10 {
    margin-left: 83.33333%;
  }

  .col-desktop-offset-11 {
    margin-left: 91.66667%;
  }

  .col-desktop-offset-12 {
    margin-left: 100%;
  }
}
/*=================================
=            Text tags            =
=================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 700;
  color: #000;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18.5px;
}

h4 {
  font-size: 16px;
}

h5,
h6 {
  font-size: 14px;
}

p {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
  color: #000;
}

a {
  text-decoration: none;
  color: #1e6bb8;
}
a:hover, a:focus {
  text-decoration: underline;
  color: #2278ce;
}

/*==================================
=            block tags            =
==================================*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/*=====================================
=            Helpers class            =
=====================================*/
.to-left {
  float: left;
}

.to-right {
  float: right;
}

.align-center {
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.align-horizontal {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.align-vertical {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sub-title {
  color: #767676;
}

/*# sourceMappingURL=zen.css.map */
