/*!
 * Zen Framework | v1.0.0 - http://igorfelipee.github.io/zen-framework/
 */
/*
	# Remove this
	To use, insert enough @include transition();
	Example: @include transition(opacity .2s ease);
*/
/*
	# Remove this
	To use, insert enough @include transform();
	Example: @include transform(rotate(90deg) scale(1.1));
*/
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*======================================
=            Globals Styles            =
======================================*/
*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

/*===================================
=            Grid system            =
===================================*/
.wrapper {
  margin: 0 auto;
}

.block {
  width: 1180px;
  height: auto;
}

/*
  Automating CSS writing process.

  With this feature you should only set
  the number of columns and let the magic happen.
*/
.col-1 {
  float: left;
  width: 8.33333%;
  min-height: 1px;
}

.col-2 {
  float: left;
  width: 16.66667%;
  min-height: 1px;
}

.col-3 {
  float: left;
  width: 25%;
  min-height: 1px;
}

.col-4 {
  float: left;
  width: 33.33333%;
  min-height: 1px;
}

.col-5 {
  float: left;
  width: 41.66667%;
  min-height: 1px;
}

.col-6 {
  float: left;
  width: 50%;
  min-height: 1px;
}

.col-7 {
  float: left;
  width: 58.33333%;
  min-height: 1px;
}

.col-8 {
  float: left;
  width: 66.66667%;
  min-height: 1px;
}

.col-9 {
  float: left;
  width: 75%;
  min-height: 1px;
}

.col-10 {
  float: left;
  width: 83.33333%;
  min-height: 1px;
}

.col-11 {
  float: left;
  width: 91.66667%;
  min-height: 1px;
}

.col-12 {
  float: left;
  width: 100%;
  min-height: 1px;
}

/*
  Floating the last element that receive the col class
*/
[class*="col"]:last-of-type {
  float: right;
}

/*=================================
=            Text tags            =
=================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 700;
  color: #000;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18.5px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 13.5px;
}

h6 {
  font-size: 11px;
}

p {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
  color: #000;
}

a {
  text-decoration: none;
  color: #1e6bb8;
}
a:hover, a:focus {
  text-decoration: underline;
  color: #2278ce;
}

/*==================================
=            block tags            =
==================================*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/*=====================================
=            Helpers class            =
=====================================*/
.clearfix:after {
  clear: both;
  content: '';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.align-center {
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.align-horizontal {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.align-vertical {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sub-title {
  color: #767676;
}

/*# sourceMappingURL=zen.css.map */
