// ========================
// ==    SASS Mixins     ==
// ========================

// Opacity for all browsers.
@mixin opacity($opacity) {
	opacity: $opacity;
	filter: alpha(opacity=($opacity * 100));
}

// Easy way to style input's placeholder.
@mixin placeholder {
	::-webkit-input-placeholder { @content; }
	:-moz-placeholder 			{ @content; }
	::-moz-placeholder 			{ @content; }
	:-ms-input-placeholder 		{ @content; }
}

/*
	# Remove this
	To use, insert enough @include transition();
	Example: @include transition(opacity .2s ease);
*/

// Transitions
@mixin transition($transition){
	transition: 				$transition;
	-webkit-transition: $transition;
	-moz-transition: 		$transition;
	-ms-transition: 		$transition;
}


/*
	# Remove this
	To use, insert enough @include transform();
	Example: @include transform(rotate(90deg) scale(1.1));
*/

// Transform
@mixin transform($transform){
	transform: 					$transform;
	-webkit-transform: 	$transform;
	-moz-transform: 		$transform;
	-ms-transform: 			$transform;
}
