/*======================================
=            Globals Styles            =
======================================*/

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $weight-normal;
  color: $text-color;
}
