/*===================================
=            Grid system            =
===================================*/

.wrapper {
  margin: 0 auto;
}

.block {
  width: $grid-width;
  height: auto;
}

/*
  Automating CSS writing process.

  With this feature you should only set
  the number of columns and let the magic happen.
*/

// Grid system
@for $i from 1 through $grid-columns {
  .col-#{$i}{
    float: left;
    width: 100% / $grid-columns * $i;
    min-height: 1px;
  }
}


/*
  Floating the last element that receive the col class
*/

[class*="col"]{
  &:last-of-type {
    float: right;
  }
}
