/*=================================
=            Text tags            =
=================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-base;
  font-weight: $weight-bold;
  color: $black-color;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18.5px;
}

h4 {
  font-size: 16px;
}

h5,
h6 {
  font-size: 14px;
}

p {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 20px;
  margin-left: 10px;
  color: $black-color;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $link-color-hover;
  }
}
