/*=====================================
=            Helpers class            =
=====================================*/

.clearfix {
  overflow: auto;
  zoom: 1;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}